body {
  font-family: "DM Sans", sans-serif; /* Consistent font for the document */
  background-color: #E9F6FE;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will space out the logo, tabs, and notifications */
  padding: 20px;
  background-color: #f0f0f0;
}

.logo, .notify, .userProfile {
  cursor: pointer; /* Makes it clear they are clickable */
  height: 40px; /* Consistent height for header icons */
}

.tabs, .notifications {
  display: flex;
  align-items: center; /* Vertically align items in the notification area */
}

.tab {
  padding: 10px 15px; /* Slightly more padding for better touch targets */
  margin-right: 10px; /* Reduced margin for a tighter layout */
  background-color: transparent; /* Use 'background-color' for clarity over 'background' */
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.tab:hover {
  background-color: #f5a7a7;
}

.main-content {
  padding: 20px; /* Added padding for spacing inside main content */
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  flex-grow: 1;
}

/* Responsive input and textarea styles */
.input-text {
  width: 80%; /* Responsive width */
  max-width: 600px; /* Maximum width */
  height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
}

.description {
  width: 80%; /* Responsive width */
  max-width: 600px; /* Maximum width */
  height: 150px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 10px; /* Padding for text inside textarea */
}

.publish {
  width: 50%; /* Responsive button width */
  max-width: 300px; /* Maximum width */
  height: 40px;
  margin-top: 20px;
  background-color: #82E36A;
  font-size: 18px; /* Slightly smaller font size for better fitting */
  cursor: pointer; /* Indicates the button is clickable */
}

@media (max-width: 768px) {
  .tab, .input-text, .description, .publish {
    width: 90%; /* More width for smaller screens */
    margin-right: 5%; /* Ensure some spacing on the right */
    margin-left: 5%; /* Ensure some spacing on the left */
  }
}
