body {
  font-family: "DM Sans", sans-serif; /* Change the font for the entire document */
  background-color: #E9F6FE;
}

h2{
  font-family: "DM Sans", sans-serif; /* Change font for headings */
}

.create-Event {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #E9F6FE;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.logo {
  width: 100px;
  height: auto;
}

.tabs {
  display: flex;
}

.tab {
  padding: 10px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px; /* Increase font size */
}

.notifications {
  display: flex;
  align-items: center;
}

.notify {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  padding-right: 20px;
  position: fixed;
  top: 50px; /* Adjust the distance from the top as needed */
  right: 150px; /* Adjust the distance from the right as needed */
}

.clubLogo{
  width: 95px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  position: fixed;
  top: 40px; /* Adjust the distance from the top as needed */
  right: 50px; /* Adjust the distance from the right as needed */
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
}

.event-box-container {
  display: flex;
}

.event {
  margin-top: 10px;
}

.event-heading {
  font-size: 40px;
}

.event-name{
  width: 1500px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}

.date{
  width: 1500px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}

.time{
  width: 1500px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}


.description{
  width: 1500px;
  height: 150px;
  display: block;
  margin-bottom: 20px;
  text-align: left;
  text-align: top;
  padding: 0;
}

.collaborated{
  width: 1500px;
  height: 40px;
  display: block;
  margin-bottom: 20px;
}

.image-upload-button {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px;
  text-align: center;
}

.image-upload-icon {
  width: 50px;
  height: 40px;
  padding-right: 5px;
  padding-left: 10px;;
}

.publish {
  width: 300px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #82E36A;
  font-size: 20px;
}